



node_modules
.pnpm-store

dist
build
out
.next
storybook-static
coverage
*.tsbuildinfo

.turbo

.env
.env.local
.env.*.local
!.env.example

*.sqlite
*.sqlite3
*.db
/packages/database/local.db*

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea

/test-results
/playwright-report
/playwright/.cache
